<div class="container">
  <h1>{{pokemon.name}}</h1>

  <div class="content" *ngIf="pokemon.name; else loading">
    <div class="card">
      <h2>Abilities</h2>

      <ul>
        <li *ngFor="let item of pokemon.abilities">
          {{ item.ability.name }}
        </li>
      </ul>
    </div>

    <div class="card">
      <h2>Types</h2>

      <ul>
        <li *ngFor="let item of pokemon.types">
          {{ item.type.name }}
        </li>
      </ul>
    </div>
  </div>

  <ng-template #loading>
    <h2>Loading...</h2>
  </ng-template>
</div>