ul {
    margin: 5vh 0 0 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
li > a {
    color: #F1E5D8;
    padding: .5em .8em;
    border-radius: 4px;
    text-decoration: none;
}
li > a:active, li > a:focus {
    outline: 0;
    border: none;
}

.active {
    background-color: #053f5e;
}

.blocked {
    cursor: not-allowed;
}
.blocked > a {
    pointer-events: none;
}